.container {
  width: 100px;
  height: 200px;
  display:inline-table;
 
  margin: 40px;
  margin-bottom: 1rem;


}

.mat-toolbar {
    justify-content: space-between;


}
.button {
  background-color: aliceblue;
  height: 24px;
  margin-left: 220px;
  margin-top: 30px;
  margin-bottom: 10px;

}
form{
  margin: 40px;
}
.table{
    width: 800px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px;
  margin-bottom: 1rem;
}

