/* .container {
    position: absolute;
    top : 20%;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}
td, th{
     border: 1px solid #ddd;
  padding: 8px;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(25, 77, 221);
  color: white;
}
.table{
  width: 200%;
} */