
.container {
    position: absolute;
    top : 20%;
    margin-left: 50px;
    margin-right: 200px;
    text-align: center;
    background-color: antiquewhite;
}

td, th{
     border: 1px solid #ddd;
  padding: 8px;
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(29, 79, 215);
  color: white;
}
.table{
  width: 150%;
  background-color: antiquewhite;
}
